a{
    text-decoration: none;
}
ul{
    text-decoration: none;
}
.active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}
.navbar{
    background-color: #0d2033!important;
    
}
.navbar-brand{
    color: #fff !important;
}
.navbar ul li a{
    color: #fff !important;
}
.navbar{
    color: white;
}

